VITE_SUPABASE_URL=https://vjfmmaxwkwsqpcpmohxe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqZm1tYXh3a3dzcXBjcG1vaHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU5NTc4NTQsImV4cCI6MjA3MTUzMzg1NH0.ulngkfTDEOSyDs5XBoq6HU9-ynBgoKHHyt50MPxWw_w